@page "/addfood"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<style>
    .page-title {
        text-align: center;
        margin-bottom: 1.2em;
    }
</style>

<h1 class="page-title">Étel létrehozása</h1>

<FoodForm ButtonTitle="Hozzáadás" SubmitForm="@AddNewFood" Food="@Food"></FoodForm>

@code {

    public Food Food { get; set; } = new Food();

    private async Task AddNewFood()
    {
        await HttpClient.PostAsJsonAsync("food", Food);
        NavigationManager.NavigateTo("foodlist");
    }
}
