@page "/food/list"

@using Radzen

<PageTitle>Étel lista</PageTitle>

@if (Foods == null)
{
    <RadzenCard>
        <h2>Loading...</h2>
    </RadzenCard>
}
else
{
    <RadzenCard class="p-4">
        <h1>Étel lista</h1>
        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@Foods" PageSize="10" >
            <Template Context="Food">
                <RadzenCard class="p-2" Style="width:40%">
                    <div class="row">
                        <div class="d-flex flex-row align-items-center">
                            <RadzenImage Path="@($"{ImageServervicePath}/{Food.ImageUrl}")" Class="float-left m-3" Style="height: 75px; width:100px" />
                            <div class="row">
                                <div class="column">
                                    <div style="font-size:x-large; color: black; font-weight: 600">@(Food.Name)</div>
                                    <RadzenBadge BadgeStyle="BadgeStyle.Info" Class="price-badge just p-2" Style="font-size:large; background-color:lightgrey; color:black"
                                        Text=@($"{String.Format(new System.Globalization.CultureInfo("hu-HU"), "{0:C}", Food.Price)}") />
                                    <RadzenButton Click="@(args => NavigationManager.NavigateTo($"food/{Food.Id}/edit"))" class="p-2" style="background-color:deepskyblue; border-radius:30px;">Szerkeszt</RadzenButton>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <div class="col-2 justify-content-center" style="width: 30%">
                            </div>
                        </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    </RadzenCard>
}