@page "/"

<PageTitle>Kezdőlap</PageTitle>

<div class="d-flex flex-column align-items-center m-auto" style="width: fit-content">
    <h1>Kezelőfelület az étterem dolgozói számára! </h1>

    <h3>Információk a dolgozók számára...</h3>

    <RadzenCard class="mt-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus tellus, iaculis ac ornare sit amet, fringilla eget sapien. Sed eu est non mauris semper scelerisque vitae nec sapien. Donec consectetur magna ut tortor gravida ornare vitae a turpis. Sed vel velit rutrum ligula fringilla porta. Phasellus a lacus sit amet dui fringilla viverra. Integer a dictum dolor, non lobortis magna. Praesent eu neque tortor. Ut congue dui velit, fermentum blandit arcu pulvinar sit amet. Mauris eros erat, scelerisque vitae enim nec, sagittis porttitor tortor. Morbi vel neque id nulla consequat pretium. Mauris in diam bibendum, euismod nulla quis, euismod arcu.</p>
        <p>Integer ut urna non urna pellentesque convallis sed vel tortor. Ut in malesuada orci. Duis dictum facilisis molestie. Morbi a velit condimentum, pellentesque velit ut, pulvinar ligula. Suspendisse blandit fringilla consequat. Pellentesque malesuada, nisl nec sagittis feugiat, turpis lectus cursus tellus, id eleifend lectus arcu non mauris. Proin in sodales purus. Vestibulum interdum nisl nec mi feugiat auctor ut vitae nunc. Pellentesque auctor est nec leo placerat finibus. Curabitur finibus in mauris vel ultrices.</p>
        <p>Nam at neque ut metus pulvinar blandit non vitae leo. Proin fringilla, quam eu gravida consectetur, purus sapien imperdiet diam, vel posuere nisl enim in arcu. Curabitur dapibus lorem vel imperdiet ornare. Suspendisse tempor vestibulum nisi, non posuere dolor fringilla at. Maecenas interdum, ante ut eleifend maximus, neque leo tincidunt ipsum, non placerat urna turpis viverra neque. Phasellus id tincidunt sapien. Mauris rutrum nec nisl interdum sagittis. Aliquam erat volutpat. Cras ex nulla, interdum et condimentum id, consectetur vel sapien.</p>
    </RadzenCard>

</div>
