@page "/foodmenu/{TypeId}"
@using Radzen

<PageTitle>Menü</PageTitle>

<div class="menu-container">
    <div class="menu-type">
        <h1>@FoodType?.Name</h1>
    </div>
    @if (Foods == null)
    {
        <h2>Betöltés</h2>
    }
    else
    {
        @if (Foods.Count() == 0)
        {
            <h2>Nincsenek ételek</h2>
        }
        else
        {
            <div class="menu-content basic-card column">
                @foreach (var food in Foods)
                {
                    <div class="menu-content-item basic-card">
                        <img class="menu-content-item-image" src="images/food.png" >
                        <div class="menu-content-item-container basic-card column">
                            <div class="name">@food.Name</div>
                            <div class="description">@food.Description</div>
                            <div class="price">@food.Price Ft</div>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
