@page "/"

<PageTitle>Rólunk</PageTitle>

<div class="index-title">Üdvözöljük éttermi honlapunkon!</div>
<div class="index-main-container">
    <div class="index-element">
        <div class="content">
            <div class="bg-hover"></div>
            <div class="index-element-name">Ahogyan az ember beül egy étterembe, rögtön eldönt számos dolgot.  Ha a minőség nem alapelv egy étterem életében, akkor a konyha igyekezete hiábavaló lehet.</div>
        </div>
    </div>
    <div class="index-element">
        <div class="content">
            <div class="bg-hover"></div>
            <div class="index-element-icon">
            </div>
            <div class="index-element-name">A tudatalattinkban a hangulatnak, a színeknek, a villának, de még a sószórónak is hatása van az étel ízére.</div>
        </div>
    </div>
    <div class="index-element">
        <div class="content">
            <div class="bg-hover"></div>
            <div class="index-element-icon">
            </div>
            <div class="index-element-name">A Névtelen Étterem ifjú tulajdonosa és mesterszakácsai úgy döntöttek, igyekeznek tökéleteset kínálni látványban, ízben és körítésben egyaránt.</div>
        </div>
    </div>
    <div class="index-element">
        <div class="content">
            <div class="bg-hover"></div>
            <div class="index-element-icon">
            </div>
            <div class="index-element-name">A Névtelen Étterem ifjú tulajdonosa és mesterszakácsai úgy döntöttek, igyekeznek tökéleteset kínálni látványban, ízben és körítésben egyaránt.</div>
        </div>
    </div>
    <div class="index-element">
        <div class="content">
            <div class="bg-hover"></div>
            <div class="index-element-icon">
            </div>
            <div class="index-element-name">A Névtelen Étterem ifjú tulajdonosa és mesterszakácsai úgy döntöttek, igyekeznek tökéleteset kínálni látványban, ízben és körítésben egyaránt.</div>
        </div>
    </div>
    <div class="index-element">
        <div class="content">
            <div class="bg-hover"></div>
            <div class="index-element-icon">
            </div>
            <div class="index-element-name">A Névtelen Étterem ifjú tulajdonosa és mesterszakácsai úgy döntöttek, igyekeznek tökéleteset kínálni látványban, ízben és körítésben egyaránt.</div>
        </div>
    </div>
    <div class="index-element">
        <div class="content">
            <div class="bg-hover"></div>
            <div class="index-element-icon">
            </div>
            <div class="index-element-name">A Névtelen Étterem ifjú tulajdonosa és mesterszakácsai úgy döntöttek, igyekeznek tökéleteset kínálni látványban, ízben és körítésben egyaránt.</div>
        </div>
    </div>
</div>