@page "/"

<PageTitle>Rólunk</PageTitle>

<RadzenCard class="d-flex justify-content-center p-4 align-items-center mx-auto" Style="width: fit-content; color: white; border: none; border-radius: 20px; background-color: rgba(0, 0, 0, 0.5); lightcyan; ">
    <h1 style="font-weight: 600; opacity: unset">Üdvözöljük éttermi honlapunkon!</h1>
</RadzenCard>


<RadzenCard class="mt-5 m-2" Style="color: white; padding: 2rem 3rem 0 3rem; border: none; border-radius: 20px; font-size: x-large; font-weight: 500; width: fit-content; background-color: rgba(0, 0, 0, 0.5);;">
    <p>Ahogyan az ember beül egy étterembe, rögtön eldönt számos dolgot. A tudatalattinkban a hangulatnak, a színeknek, a villának, de még a sószórónak is hatása van az étel ízére. Ha a minőség nem alapelv egy étterem életében, akkor a konyha igyekezete hiábavaló lehet.</p>
</RadzenCard>

<RadzenCard class="m-2 mt-3" Style="color: white; padding: .8rem 3rem 0 3rem; border: none; border-radius: 20px; font-size: x-large; font-weight: 500; width: fit-content; background-color: rgba(0, 0, 0, 0.5);;">
    <p>A Névtelen Étterem ifjú tulajdonosa és mesterszakácsai úgy döntöttek, igyekeznek tökéleteset kínálni látványban, ízben és körítésben egyaránt.</p>
</RadzenCard>

<RadzenCard class="d-flex justify-content-center p-4 align-items-center mx-auto mt-5" Style="width: fit-content; color: white; border: none; background-color: rgba(0, 0, 0, 0.5); border-radius: 20px;">
    <h3 style="font-weight: 600">Hogy sikerült-e? </h3>
    <h3 style="font-weight: 600">Azt majd eldöntik Önök!</h3>
</RadzenCard>

