<RadzenCard>
    @if(Number == null)
    {
        <h2>Még nincs rendelésed</h2>
    }
    else
    {
        <h2>A rendelés száma: @Number</h2>
    }
</RadzenCard>

@code {
    [Parameter]
    public int Number { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        
    }
}
