@page "/shoppingcart"

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Restaurant_CustomerWebClient.Data

@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage BrowserStorage
@inject NotificationService NotificationService

<h3>ShoppingCart</h3>

@if (Cart == null)
{
    <RadzenCard>
        <h4 class="mb-4">Loading...</h4>
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenCard>
}
else
{
    @foreach(var food in Cart.Foods)
    {
        <RadzenLabel Text="@food.Name" />
    }
}    

@code {

    public double PriceSummary { get; set; }
    public Order Cart { get; set; }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        var result = await BrowserStorage.GetAsync<Order>("ShoppingCart");
        Cart = result.Success ? result.Value : new Order();
    }

    private async Task DeleteProduct(int productId)
    {
        foreach(var food in Cart.Foods)
        {
            if (food.Id == productId)
            {
                Cart.Foods.Remove(food);

                BrowserStorage.SetAsync("ShoppingCart", Cart);
            }
        }

        NotificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Success,
            Summary = "Sikeres törlés!",
            Detail = $"A termék törlölve!",
            Duration = 6000
        });
                
    }

}
