@page "/food/type/list"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<PageTitle>Tipus lista</PageTitle>

<RadzenCard class="m-4 m-auto px-4">
    <h1>Étel tipus lista</h1>
    @if(FoodTypes == null)
    {
        <RadzenCard>
            <h2>Loading...</h2>
        </RadzenCard>
    }
    else
    {
        <RadzenDataList WrapItems="true" AllowPaging="true" Data="@FoodTypes" PageSize="10" >
            <Template Context="FoodType">
                <RadzenCard Style="width:25%; max-width:20%; background-color:lightgrey; font-weight:400; border-radius:30px">
                    <h2 class="mx-auto">@(FoodType.Name)</h2>
                    <RadzenButton Click="@(args => NavigationManager.NavigateTo($"food/type/{FoodType.Id}/edit"))" class="p-2 mx-auto" style="background-color:deepskyblue; border-radius:30px; width:fit-content">Szerkeszt</RadzenButton>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    }
</RadzenCard>


@code {
    public IList<FoodType>? FoodTypes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        FoodTypes = await HttpClient.GetFromJsonAsync<List<FoodType>>("food/type");
    }
}
