<div class="footer-container">
    <div class="info-section">
        <div class="social-media-section">
            <div class="content">
                <a href="https://github.com/RubiMaistro" class="item">git</a>
                <a href="https://www.linkedin.com/in/ruben-de%C3%A1k-993a20225/" class="item">in</a>
            </div>
        </div>
        <div id="letter" class="item">
            <div class="content">
                <div id="email" class="element">
                    <input type="text" placeholder="e-mail cím" @bind-value="Email" />
                    <button type="button" @onclick="@SubscribeToNewsletter">
                        <RadzenIcon Icon="send" />
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        
        <div class="small-text">
            <span>@(DateTime.Now.Year). Restaurant</span>
            <span>Copyright &copy; Ruben Deák</span>
            <span>All rights reserved.</span>
         </div>
    </div>
</div>