@inherits LayoutComponentBase

<PageTitle>Restaurant_CustomerWebClient</PageTitle>

<main>
    <header>
        <NavMenu />
    </header>
    <div class="main-content">
        @Body
    </div>
    <footer>
        <h3>Footer Component</h3>
    </footer>
</main>
