.navmenu-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: fit-content;
    padding: 1em 5em;
    color: #7aa157;
    font-weight: 600;
    font-size: 20px;
    background-color: var(--nav-orange);
}

    .navmenu-container .navmenu-menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

.menu-item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 .5em;
    padding: .2em;
    border: none;
    border-radius: 16px;
    color: var(--nav-orange);
    background-color: #fff;
    cursor: pointer;
    transition: all 400ms ease-in;
}

    .menu-item-container:hover {
        color: #fff;
        background-color: #ffbb83;
        transition: all 300ms ease-out;
    }

.menu-item-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .2em .5em;
    border: 2px solid var(--nav-orange);
    border-radius: 12px;
    color: var(--nav-font-orange);
    background-color: #fff;
}

.menu-item-container:hover .menu-item-content {
    color: var(--nav-font-orange-hover);
}
