@inject NavigationManager NavigationMan
@inject HttpClient HttpClient

﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: x-large" href="">Menu</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div>
    <nav class="flex-column">
        @foreach(var type in FoodTypes)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="font-size: large" href="@($"/foodmenu/{type.Id}")" Match="NavLinkMatch.All">
                    <RadzenIcon Icon="" /> @type.Name 
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    public List<FoodType> FoodTypes { get; set; } = new List<FoodType>();

    protected override async Task OnInitializedAsync()
    {
        FoodTypes = await HttpClient.GetFromJsonAsync<List<FoodType>>("food/type");
    }
}
