@inject NavigationManager NavigationMan
@inject HttpClient HttpClient

<div class="navmenu-container">
    <div class="navmenu-menu">
         <div class="menu-item-container" @onclick="@(() => NavigationMan.NavigateTo("/"))">
            <div class="menu-item-content" >
                Kezdőlap
            </div>
        </div>
        @foreach(var type in FoodTypes)
        {
            <div class="menu-item-container" @onclick="@(() => NavigationMan.NavigateTo($"/foodmenu/{type.Id}"))">
                <div class="menu-item-content" >
                    @type.Name 
                </div>
            </div>
        }
    </div>
</div>

@code {
    public List<FoodType> FoodTypes { get; set; } = new List<FoodType>();

    protected override async Task OnInitializedAsync()
    {
        FoodTypes = await HttpClient.GetFromJsonAsync<List<FoodType>>("food/type");
    }
}
