@inherits LayoutComponentBase

<PageTitle>Restaurant_EmployeeWebClient</PageTitle>

<div class="page">
    <main>
        <div class="navbar">
            <NavMenu />
        </div>
        <article class="content m-2 m-auto px-4" style="width: 80%;">
            @Body
        </article>
    </main>
</div>
